@import '../../variables.scss';

.title{
    font-size: 30px;
    color: $input-color;
    font-family: $openSans;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
}

form{
    .forgot{
        color: $link-color;
        font-size: 14px;
        display: block;
        display: flex;
        justify-content: flex-end;
        font-family: $openSans;
    }
    .buttonClass{
        padding: 0.5rem 2rem;
        margin: 0.2rem 0;
    }
    .create{
       font-size: 14px;
       font-family: $openSans;
       color: $input-color;
       .account{
           color: $link-color;
           text-decoration: underline;
       }
    }
    @media (min-width: 1024px){
        width: 60%;
        .buttonClass{
            margin: 0.6rem 0;
        }
    }
}