@import url(//fonts.googleapis.com/css?family=Open+Sans);

$base-backgroundColor: #043B5C8A;
$background-color: #F5F6F9;
$label-color: #043B5C7F;
$white: #ffffff;
$input-color: #043B5C;
$link-color: #1461A2;
$button-color: #4786FF;
$off-white: #F4F5F7;


$openSans: "Open Sans", sans-serif;